{% extends 'core/base.html' %}
{%block title%} Change Password {% endblock%}
{%block content%}
<div class="wrapper" style="max-width:450px">
    {%if form.errors %}
    <p style="text-align:center; margin-bottom:30px; color:red;">something went wrong</p>
    {%endif%}
    <div class="text-center mt-4 name"> Password Change</div>
    <form method="post" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> {{form.old_password}} </div>
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> {{form.new_password1}} </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> {{form.new_password2}} </div>
         <button type="submit" class="btn mt-3">Change Password</button>
        {%csrf_token%}
    </form>
</div>
{%endblock%}