{% extends 'core/base.html' %} 
{% block title %} Contact {% endblock title %} 


{% block content %}
<div class="px-6 py-12 mt-6 bg-blue-50 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">{{title}}</h2>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="space-y-4">
            {{form.as_p}}
        </div>
        {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
        <button class="mt-6 py-3 px-8 text-lg bg-blue-500 hover:bg-blue-700 rounded-xl text-white">Submit</button>

    </form>
</div>
{% endblock %}
